#sessao-todos-eventos{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.container-todos-eventos{
    width: 95%; 
    max-width: 1650px;
    padding: 0 20px;
    box-sizing: border-box;    
}

.titulo-sessao {
  color: var(--cor-secundaria);
  font-size: 2.2rem;
  margin-bottom: 25px;
    font-family: var(--fonte-principal);
}

.categorias-nav {
  margin-bottom: 35px;
}

.scroll-container {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.chip-categoria {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s;
  font-family: var(--fonte-principal);
}

.chip-categoria.active {
  background: var(--cor-secundaria);
  color: var(--cor-principal);
  font-weight: bold;
  border-color: var(--cor-secundaria);
}

.grid-eventos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
}

@media (max-width: 768px) {
  .grid-eventos {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
    .grid-eventos{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}