<section id="exibicao-banner">
    <div class="banner-grande" 
        (click)="abrirEvento(listaBanner[index].id)"
        tabindex="0"
        (touchstart)="touchStart($event)" 
        (touchend)="touchEnd($event)">

        <img [src]="listaBanner[index].imagem" class="imagem">

        <div class="layer"></div>

        <div class="info">
            <h1>{{ listaBanner[index].titulo }}</h1>
            <p>{{ listaBanner[index].localNome }} • {{ listaBanner[index].cidade }} | {{ listaBanner[index].dataExibicao }}</p>
            <button class="btn-info">Mais informações</button>
        </div>

        <div class="setas">
            <button class="seta-left" (click)="anterior(); $event.stopPropagation()">❮</button>
            <button class="seta-right" (click)="proximo(); $event.stopPropagation()">❯</button>
        </div>

        <div class="indicadores">
            @for (img of listaBanner; track $index) {
              <span class="ponto" 
              [class.ativo]="$index === index" 
              (click)="irPara($index); $event.stopPropagation()"></span>
            }
        </div>
    </div>
</section>