<!--footer-->

<footer>
    <div class="footer-marquee">
    <div class="marquee-wrapper">
           <div class="marquee-content">
               <span>EVENA</span>
               <span>•</span>
               <span class="vazada">CONECTANDO VOCÊ AOS MELHORES EVENTOS</span>
               <span>•</span>
               <span>EVENA</span>
               <span>•</span>
               <span class="vazada">CONECTANDO VOCÊ AOS MELHORES EVENTOS</span>
               <span>•</span>
           </div>
           <div class="marquee-content">
               <span>EVENA</span>
               <span>•</span>
               <span class="vazada">CONECTANDO VOCÊ AOS MELHORES EVENTOS</span>
               <span>•</span>
               <span>EVENA</span>
               <span>•</span>
               <span class="vazada">CONECTANDO VOCÊ AOS MELHORES EVENTOS</span>
               <span>•</span>
           </div>
           <div class="marquee-content">
               <span>EVENA</span>
               <span>•</span>
               <span class="vazada">CONECTANDO VOCÊ AOS MELHORES EVENTOS</span>
               <span>•</span>
               <span>EVENA</span>
               <span>•</span>
               <span class="vazada">CONECTANDO VOCÊ AOS MELHORES EVENTOS</span>
               <span>•</span>
           </div>
       </div>
    </div>

    <div class="footer-corpo">
        <div class="principais">
            <div class="esq">
                <h1>Redes Sociais</h1>
                <a href="https://www.instagram.com/evena.brasil/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-instagram" style="font-size:24px; color: var(--co); padding-right: 5px;"></i>
                    Instagram
                </a>
                <a href="https://x.com/EvenaBrasil">X</a>
            </div>

            <div class="sobre_nos">
                <h1>Empresa</h1>
                <a>Sobre nós</a>
                <a>Contacte-nos</a>
                <a>Nossa marca</a>
            </div>
        </div>

        <div class="direitos-autorais">
            <p>&copy; 2026 Evena | Todos os direitos reservados</p>
        </div>
    </div>
</footer>