footer {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal);
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    padding-top: 0;
}

/* Frase passando */
.footer-marquee {
    width: 100%;
    overflow: hidden;
    background-color: var(--cor-secundaria);
    border-top: 2px solid var(--cor-principal);
    border-bottom: 2px solid var(--cor-principal);
    padding: 20px 0;
    display: flex; 
}
.marquee-wrapper {
    display: flex;
}
.marquee-content {
    display: flex;
    flex-shrink: 0;
    animation: deslizar 30s linear infinite;
}
.marquee-content span {
    font-family: var(--fonte-secundaria); 
    font-weight: 900;
    color: var(--cor-principal); 
    font-size: 20px;
    padding: 0 30px;
    white-space: nowrap;
    text-transform: uppercase;
}
.marquee-content span.vazada {
    color: transparent ;
    -webkit-text-stroke: 1px var(--cor-principal);
}
@keyframes deslizar {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}


.footer-corpo {
    padding: 40px 40px 10px 40px;
}
.direitos-autorais{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(109, 226, 76, 0.2);
    margin-top: 30px;
}
.principais{
    display: flex;
    flex-direction: row;
}
h1{
    color: var(--cor-secundaria);
    font-size: 25px;
}
a, p{
    font-size: 18px;
    color: #5cae45;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


.esq{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.sobre_nos{
    display: flex;
    flex-direction: column;
    width: 300px;
}